* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#nav {

  /* Position nav bar thing across top at 100% width, relative to browser window*/
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  /* Change BG color of the nav bar div */
  background-color: rgba(166, 25, 46, 1); /* School red color */
  /* Deal with nav bar height ***GOTTEN RID B/C OF FLEX***
  height: 2em; */
  /* Make children flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav_item{

}

#signInBtn {
  /* Change text color and styling */
  color: hsla(0,0%,0%,1);
  font-variant: small-caps;
  font-size: 22px;

  /* Change the box color and styling */
  background-color: hsla(0, 0%, 100%, 1);
  border: 0px;
  border-radius: 3px;

  /* Make it large enough and ensure flexbox sizing works
  height: 30px;
  width: 75px;
  flex-basis: auto;  */

  /* Add margin to try to make flexbox size to add a bit of room on the inside */
  margin: 10px;
}

#signInBtn:hover {

}
